<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <form method="POST" action="/updateCateg/{{categorie.id}}">
       {% csrf_token %}
         <div>
             <p>Nom:</p>
             <div>
                 <input type="text" name="name" value="{{categorie.name}}">
             </div>
         </div>
          <div>
             <p>Description:</p>
             <div>
                 <input type="text" name="description" value="{{categorie.description}}">
             </div>
         </div>
          <div>
             <br>
              <button type="submit">Modifier Categorie</button>
         </div>
     </form>
</body>
</html>